@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Libre+Caslon+Text:wght@400;700&display=swap');

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Libre Caslon Text', serif;

$color-white:#ffffff;
$color-gray:#fafafa;
$color-dark-gray:#cbcbcb;

$black-000:#000000;
$black-100:#111111;
$black-200:#222222;
$black-300:#333333;
$black-400:#444444;
$black-500:#555555;
$black-600:#666666;
$black-700:#777777;
$black-800:#888888;
$black-900:#999999;