@import url('../fonts/CircularStd.css');

$primary-font: 'CircularStdBold', sans-serif;
$secondary-font: 'CircularStdBook', sans-serif;

$white:#ffffff;
$black:#000000;
$gray:#F5F5F5;
$red:#FD3828;
$purple:#33154B;
$purple-dark:#280A40;

$black-100:#111111;
$black-200:#222222;
$black-300:#333333;
$black-400:#444444;
$black-500:#555555;
$black-600:#666666;
$black-700:#777777;
$black-800:#888888;
$black-900:#999999;