@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&family=Roboto:wght@300;400&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Playfair Display', serif;

$white:#ffffff;
$dark:#1D1C21;
$gray:#B0B0B0;
$color-primary:#E4112F;

$black:#000000;
$black-100:#111111;
$black-200:#222222;
$black-300:#333333;
$black-400:#444444;
$black-500:#555555;
$black-600:#666666;
$black-700:#777777;
$black-800:#888888;
$black-900:#999999;